#mydomain.com/?about-us/ -OR-
#mydomain.com/about-us/

# Set default 404 to SMPL 404
# [MUSTCHANGE] Cannot use relative paths
ErrorDocument 404 /index.php?404

# Possible Alternative
# rewriteengine on
# rewritecond %{request_filename} !-f
# rewriterule ^(.+).jpg$ program.php?i=$1.jpg [L]


# Enable Rewriting  
RewriteEngine on  

# Throw 404 errors anytime anyone attempts to access reserved filespaces through the web
# Prevents confirmation of existence of folders or SMPL CMS through URI pinging
RewriteRule ^/smpl-(\w+)$ index.php?404

  
# Rewrite URLs  
#   Input:  /categories/uncategorized/  
#   Output: /index.php?categories/uncategorized/


#/api/ (special)
#/admin/ (special)
#/feed/ (special)
#/feed/custom-feed-type/
#/categories/category-title/<index>/
#/category-title/page-title/
#/category-title/articles/article-title/
#/category-title/articles/article-id/ (Force Reload to the URL with the title)
#/articles/article-title/
#/articles/article-id/ (Either date (down to the second) or hash-id), (Force Reload to the URL with the title)
#/page-name/ (Articles cannot be accessed this way, they must have the "Static Content" flag to be treated like a page)  
RewriteRule ^/(?!\?)(\w+)/?$ index.php?$1 