<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SMPL Control Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	<link rel="stylesheet" href="base.css">
	<link rel="stylesheet" href="skeleton.css">
	<link rel="stylesheet" href="layout.css">
</head>

<body>

  <div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">SMPL Control Panel</h1>
			<hr />
		</div>

    <div class="sixteen columns">
      <h2>Login</h2>
      
      <p>You are not authorized to access this page. Please log in to continue.</p>
    
      <form action="">   
    
        <fieldset>
          
          <input type="hidden" name="id" value="" />
        
          <!-- Label and text input -->
          <label for="username">Username</label>
          <input type="text" value="" id="username" /> 
    
          <!-- Label and text input -->
          <label for="password">Password</label>
          <input type="password" value="" id="Password" /> 


        </fieldset>
        
        <fieldset>
          <button type="reset">Reset</button>
          <button type="submit">Login</button>
        </fieldset>
      
      </form> <!-- editor form --> 

    </div><!-- management-->

    <div class="sixteen columns">
      <hr />
    </div>

    <div class="sixteen columns">
      <h4>SMPL Content Management System 0.1.1</h4>
        <p>Bug reports, suggestions: <a href="https://github.com/gowondesigns/smpl/issues" target="_blank">Please open a new issue.</a><br/>
        Check to see if there are any <a href="http://smply.it/" target="_blank">new releases</a> of SMPL available.<br/>
        <a href="http://smply.it/" target="_blank">SMPL</a> is licensed under the <a href="http://www.opensource.org/licenses/osl-3.0.php">Open Software License 3.0</a>.<br/>
        Copyright &copy; 2013, <a href="http://www.gowondesigns.com/" target="_blank">Gowon Designs</a>
        </p>
    </div>

  </div> <!-- container -->

</body>
</html>
